# datasets
data/
Dataset/
results/
.venv1
.venv
.venv311/
*.pt
*.pth
*.ckpt
*.npz
*.npy
*.zip
*.tar
*.gz
*.7z

# OS junk
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/
README.md/
